# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = oglinfo_scraper.settings
pythonpath = .

[deploy]
#url = http://localhost:6800/
project = oglinfo_scraper
